<section class="container">
    <mat-toolbar>
      <span>Productos</span>
    </mat-toolbar>
  
    <mat-card style="margin-top: 10px;">
      <form>
        <mat-grid-list cols="4" rowHeight="80px" >
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <label>Nombre:</label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1" [style.margin-left]="1">
              <mat-form-field style="margin-top: 15px;" class="example-full-width">
                <mat-label for="txtNombre" style="font-size: 0.7rem;">Ingresar nombre</mat-label>
                <input id="txtNombre" name="txtNombre" matInput [(ngModel)]="producto.nombre">
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="4">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <label>Precio Unitario:</label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field style="margin-top: 15px;" class="example-full-width">
                <mat-label for="txtPrecioUnitario" style="font-size: 0.7rem;">Ingresar precio unitario</mat-label>
                <input id="txtPrecioUnitario" name="txtPrecioUnitario" matInput [(ngModel)]="producto.precioUnitario">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <label>Stock:</label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field style="margin-top: 15px;" class="example-full-width">
                <mat-label for="txtStock" style="font-size: 0.7rem;">Ingresar stock</mat-label>
                <input id="txtStock" name="txtStock" matInput [(ngModel)]="producto.stock">
            </mat-form-field><br>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <label >Descripción:</label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field style="margin-top: 15px;" class="example-full-width">
                <mat-label for="txtDescripcion" style="font-size: 0.7rem;">Ingresar descripción</mat-label>
                <input id="txtDescripcion" name="txtDescripcion" matInput [(ngModel)]="producto.descripcion">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card>
  
    <mat-toolbar style="margin-top: 10px;">
        <div class="example-spacer"></div>
        <button (click)="guardar()" mat-stroked-button>Agregar</button>
    </mat-toolbar>
  
    <div class="tabla"> 
  
          <div class="mat-elevation-z1">
            <table mat-table [dataSource]="dataSource" matSort >
              <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
              </ng-container>
              <!-- Progress Column -->
              <ng-container matColumnDef="Precio Unitario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </th>
                <td mat-cell *matCellDef="let producto"> {{producto.precioUnitario}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="Stock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                <td mat-cell *matCellDef="let producto"> {{producto.stock}} </td>
              </ng-container>
          
              <!-- Fruit Column -->
              <ng-container matColumnDef="Descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
    </div>
  </section>